#shopify-section-footer{
  visibility: hidden;
  display: none;
}
#shopify-section-text-with-icons{
  visibility: hidden;
  display: none;
}
#footer_content{
  position: relative;
  top:155px;
}
@media only screen and (max-width: 1105px) {
  #footer_content{
    top: 220px;
  }
}
@media only screen and (max-width: 1000px) {
  #footer_content{
    top: 88px;
  }
}
@media only screen and (max-width: 640px) {
  #footer_content{
    top: 0px;
  }
}